<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg);">
      <div class = "text-left">
        <h1>Show Time!</h1>
        <p>All your favourite movies, one click</p>
      </div>
  </div>

  <div class = "d-flex justify-content-center">
    <a class="btn btn-ghost" href="#">Create your list</a>
  </div>

  </div>
    <% @lists.each do |list| %>
      <div class="card-lists">
        <img src="https://wallpapercave.com/wp/wp9991397.jpg" />
        <div class="card-lists-infos">
        <div>
          <h2>Magnolia</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-list-pricing">£99.99</h2>
      </div>
      </div>
        <% list.name %>
      <% end  %>
  </div>
</div>
