.banner {
  display: flex;
  align-items: center;
  justify-content: left;
  background-size: cover;
  background-position: bottom;
  padding: 150px 150px;
  margin: 6px;
  border-radius: 3px;
}

.banner h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 38px;
  font-weight: bold;
  padding: 0 20px 0 100px;
  align-items: left;
}

.banner p {
  font-size: 24px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 0 20px 0 100px;
  align-items: left;
}

.overlay-button-container {
  position: absolute;
  top: 67.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  padding: 4px 18px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  background-color: white;
}

.overlay-button-container:hover {
  opacity: 0.4;
  color: rgb(54, 6, 6);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  height: 300px;
  border-radius: 3px;
  margin: 8px;
}

.card-trip > img {
  height:250px;
  width: 100%;
  object-fit: cover;
  padding: 10px 10px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
