.banner {
  background-size: cover;
  background-position: bottom;
  padding: 150px 0;
  opacity: 1;
  margin: 6px;
  border-radius: 3px;
}

.banner h1 {
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding: 0 20px 0 100px;
  align-items: left;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 0 20px 0 100px;
  align-items: left;
}

.btn-ghost {
  color: #700d0d;
  border: 2px solid #700d0d;
  padding: 8px 24px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin: 2px;
  background-color: #e7d9ba;
}

.btn-ghost:hover {
  opacity: 1;
  border: 2px dotted #b12828;
  color: #b12828;
  background-color: #e4d7bc;
}

.btn-ghost2 {
  color: #700d0d;
  border: 2px white;
  padding: 2px 12px;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  margin: 2px;
  background-color: #e7d9ba;
}

.btn-ghost2:hover {
  opacity: 1;
  border: 2px solid white;
  color: #b12828;
  background-color: #e4d7bc;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  height: 300px;
  border-radius: 3px;
  margin: 6px;
}

.card-trip > img {
  height:250px;
  width: 100%;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
